* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
}

/* Оглавление страницы */
.header {
  padding: 20px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #bbdefb;
  text-align: center;
}

.header__logo {
  font-size: 32px;
}

/* Левая сторона страницы - Описание игры */
.left-side {
  padding: 80px 20px;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: #efeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: justify;
  font-size: 16px;
  line-height: 1.2;
}

/* Правая сторона страницы - Выбор уровня сложности */
.right-side {
  padding: 80px 20px;
  width: 20%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #efeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-side__tittle {
  font-size: 20px;
  margin-bottom: 60px;
}

.difficulty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: 16px;
  line-height: 1.2;
}

.difficulty__level {
  margin-bottom: 30px;
}

.disable {
  pointer-events: none;
}

/* Правая сторона страницы - Выбор уровня сложности */
.footer {
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #bbdefb;
  text-align: center;
}

/* Игра сапёр */
#minesweeper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px;
  background-color: silver;
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
}

.top_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

#top {
  padding: 5px 6px;
  margin-bottom: 14px;
  flex: 999 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  border-left: 3px solid grey;
  border-top: 3px solid grey;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

.top__inner {
  flex: 1 1 auto;
  display: block;
}

/* Смайлик */
.smile {
  width: 39px;
  height: 39px;
  margin: auto;
  cursor: pointer;
  background: url(./images/Sprite.png);
  background-size: 229.5px 126px;
}

.smile.default {
  background-position: 0px -36px;
}

.smile.default-down {
  background-position: -40.5px -36px;
}

.smile.lose {
  background-position: -162px -36px;
}

.smile.win {
  background-position: -121.5px -36px;
}

.smile.scare {
  background-position: -81px -36px;
}

/* Таймер и счётчик мин */
.stopwatch {
  height: 34.5px;
  float: right !important;
}

.counterMines {
  height: 34.5px;
  display: block;
  float: left !important;
  align-items: center;
}

.number {
  width: 19.5px;
  height: 34.5px;
  float: left !important;
  background: url(./images/Sprite.png);
  background-size: 229.5px 126px;
}

.num0 {
  background-position: -189px 0px;
}

.num1 {
  background-position: 0px 0px;
}

.num2 {
  background-position: -21px 0px;
}

.num3 {
  background-position: -42px 0px;
}

.num4 {
  background-position: -63px 0px;
}

.num5 {
  background-position: -84px 0px;
}

.num6 {
  background-position: -105px 0px;
}

.num7 {
  background-position: -126px 0px;
}

.num8 {
  background-position: -147px 0px;
}

.num9 {
  background-position: -168px 0px;
}

.num- {
  background-position: -210px 0px;
}

/* Игровое поле */
.board_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border-left: 3px solid grey;
  border-top: 3px solid grey;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

#board {
  flex: 999 1 auto;
  display: grid;
}

.beginner {
  grid-template-columns: repeat(10, 24px);
}

.amateur {
  grid-template-columns: repeat(16, 24px);
}

.professional {
  grid-template-columns: repeat(30, 24px);
}

/* Фон ячеек на игровом поле */
.cell {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url(./images/Sprite.png);
  background-size: 229.5px 126px;
}

.cell.closed {
  background-position: 0px -76.5px;
}

.cell.opened {
  background-position: -25.5px -76.5px;
}

.cell.min_reveal {
  background-position: -127.5px -76.5px;
}

.cell.min_explosion {
  background-position: -153px -76.5px;
}

.cell.min_error {
  background-position: -178.5px -76.5px;
}

.cell.flag_true {
  background-position: -51px -76.5px;
}

.cell.question {
  background-position: -76.5px -76.5px;
}

.cell.question-down {
  background-position: -102px -76.5px;
}

.cell.number_mines_1 {
  background-position: 0px -102px;
}

.cell.number_mines_2 {
  background-position: -25.5px -102px;
}

.cell.number_mines_3 {
  background-position: -51px -102px;
}

.cell.number_mines_4 {
  background-position: -76.5px -102px;
}

.cell.number_mines_5 {
  background-position: -102px -102px;
}

.cell.number_mines_6 {
  background-position: -127.5px -102px;
}

.cell.number_mines_7 {
  background-position: -153px -102px;
}

.cell.number_mines_8 {
  background-position: -178.5px -102px;
}